<div style="width: 100%;" *ngIf="wordSet">
  <div class="course">
    <div class="header">Język</div>
    <div>
      {{wordSet.toLanguage}}
    </div>
    <div class="header">Tytuł</div>
    <div>
      {{wordSet?.title}}
    </div>
    <div class="header">Opis</div>
    <div>
      {{wordSet?.description}}
    </div>
  </div>

  <div class="table" *ngIf="displayWordSetType === sliderType">
    <div>
      <button (click)="changeDisplayMode()" class="type-button" mat-fab>{{displayWordSetType}}</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Słowo </th>
        <td mat-cell *matCellDef="let element">
          <p>{{element.word}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Tłumacznie </th>
        <td mat-cell *matCellDef="let element">
          <p>{{element.translation}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Opis </th>
        <td mat-cell *matCellDef="let element">
          <p>{{element.description}}</p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['word', 'translation', 'description']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['word', 'translation', 'description'];"></tr>
    </table>
  </div>

  <div class="slajder" *ngIf="displayWordSetType === tableType">
    <div>
      <button (click)="changeDisplayMode()" class="type-button" mat-fab>{{displayWordSetType}}</button>
    </div>
    <div class="row header">
      Słowo
    </div>
    <div class="row">
      {{dataSource.data[indexOfSliderWord].word}}
    </div>
    <div class="row header">
      Tłumacznie
    </div>
    <div class="row">
      {{dataSource.data[indexOfSliderWord].translation}}
    </div>
    <div class="row header">
      Opis
    </div>
    <div class="row">
      {{dataSource.data[indexOfSliderWord].description}}
    </div>
    <div class="navigation">
      <a (click)="previousWord()">
        <mat-icon>arrow_back_ios</mat-icon>
      </a>
      <a (click)="nextWord()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </a>
    </div>
  </div>
</div>
