.conatiner {
  text-align: center;
  background-image: url("./../../../assets/images/background.jpg");
  background-position: center;
  background-repeat: repeat;
  height: 100%;
}

.content{
  padding-top: 50px;
}

.icon{
  padding: 40px 0 30px 0;
  transform: scale(4);
}

.buttons{
  padding-top: 30px;
}
