@import "../../../../sharedStyles";

.newLang {
  margin: auto;
  text-align: center;
  width: 60%;
  margin-top: 50px;
  padding-bottom: 25px;
  background-color: $my-background-color;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.mat-column-description,
.mat-column-word,
.mat-column-translation {
  text-align: center;
}

table {
  margin: auto;
  width: 60%;
  margin-top: 30px;
}

.word-inputs mat-form-field{
  padding: 0 10px 0 10px;
}

.word-description{
  width: 80%;

  input{
    text-align: center;
  }
}

.header {
  padding-bottom: 15px;
}

.submit-button{
  text-align: center;
  padding-top: 1%;
}

@media only screen and (max-width: 600px) {
  mat-form-field {
    font-size: 14px;
    width: 80%;
  }

  .mat-table[matTableResponsive] {
    width: 100%;

    mat-form-field {
      margin-bottom: -1.25em;
      padding: 0;
      width: 100%;
    }

    .mat-column-delete[data-column-name] mat-icon {
      position: relative;
      left: 45%;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row {
      td.mat-cell:not(.mat-column-actions) {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;

        &::before {
          content: attr(data-column-name);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &:not(:last-of-type) td:last-of-type {
        border-bottom: 1rem solid darken($my-background-color, 10%);
      }
    }
  }
}

