@import "./../../../../../sharedStyles.scss";

.flex {
  display: flex;
  flex-direction: row;

  &-game {
    flex: 90%;
    min-height: 200px;
    position: relative;
  }

  &-stats {
    flex: 10%;
  }
}

.container{
  min-height: 200px;
  border-radius: 20px;
  text-align: center;
  background-color: darken($my-background-color, 20%);
  margin: 4% 15% 0 15%;

  .word {
    font-size: 20px;
    padding-top: 10px;
  }

  .game {

    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-button {
      width: 30%;
      margin: 10px;
      padding: 5px;
      background-color: white;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      border-radius: 4px;
    }

    &-button:hover{
      cursor: pointer;
    }

    &-statistic {
      padding: 0 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 20px;
      font-size: 22px;
      height: 100%;
    }

    &-statistic mat-icon {
      position: relative;
      top: 5px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .flex {
    position: relative;
    &-game {
      padding-top: 6%;
      width: 100%;
      flex: none;
    }
  }

  .container {
    height: fit-content;
    margin: 10% 4% 0 4%;

    .game {
      &-statistic {
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 0 0 0;
        height: fit-content;
        flex-direction: row;
        font-size: 22px;
      }

      &-statistic mat-icon {
        top: 3px;
      }
    }
  }
}
