@import "sharedStyles";

body {
  background-color: darken($my-background-color, 10%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin:0px;
  height:100%;
}

p {
  margin: 0;
}
h2{
  margin: 0;
}

.error-message {
  font-size: 14px;
  position: relative;
  top: -10px;
  color: red;
}
